

<div id="footerwrap">
    <div class="container">
        <div class="row">
             <div class="col-lg-4">
               
            </div>
            <div class="col-lg-4">
               
            </div>
            
            <div class="col-lg-4">
              <h4>Contact Cynthia Martinez</h4>
                
                <p>
                    Email:  <a href="mailto:cynthia.mtnz@gmail.com">cynthia.mtnz@gmail.com</a>
                </p> 
            </div>
            
            
        </div><! --/row -->
    </div><! --/container -->
    <center>© Cynthia Martinez 2015</center>
</div><! --/footerwrap -->
