---
layout: default
---

{% include wrap.html %}




<div class="container mt">
    <div class="row">

           

            {{ content }}

        
        
            <div class="spacing"></div>
            
            <h4>Project Details</h4>
            <hr width="30%">
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Author:</b> {{ page.author }}</p>
            <p><b>Categories:</b> {{ page.categories }}</p>
            <p><b>Client:</b> {{ page.client }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
            <div class="spacing"></div>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 